html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

object{
    display: block;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}
